---

---

<section class="relative h-screen">

 
    <img src="/images/platinum.jpg" alt="Plan Platinum" class="absolute inset-0 w-full h-full object-cover" >
     
     <div class="relative z-10 flex flex-col items-center justify-center h-full text-white bg-black bg-opacity-50">
       <p class="text-xl md:text-2xl">Presentamos</p>
       <h1 class="text-4xl md:text-6xl font-bold">Plan Elegance</h1>
       <p class="text-3xl md:text-5xl font-bold text-yellow-500">$980.000</p>
     </div>
   </section>
   
   <section class="bg-gray-900 text-white py-12 px-6 md:px-16 lg:px-32">
     <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
       <h2 class="text-center text-3xl font-bold mb-6">
         Este servicio <span class="text-yellow-500">incluye</span> los siguientes items:
       </h2>
       <div class="grid grid-cols-1 gap-8 text-lg w-full max-w-screen-lg">
         <!-- Primer bloque -->
         <div>
           <ul class="list-disc pl-5">
             <li>Urna Madera Viena Lisa</li>
             <li>Base de madera</li>
             <li>Capilla de luces</li>
             <li>Cruz de madera</li>
             <li>Pedestal para libro de condolencias</li>
           </ul>
         </div>
   
         <!-- Segundo bloque -->
         <div>
           <h3 class="font-bold">Asesoría:</h3>
           <ul class="list-disc pl-5">
             <li>Trámite de inscripción en Registro Civil</li>
             <li>Tramitación para el traslado</li>
             <li>Tramitación de cobro de cuota mortuoria en entidad correspondiente</li>
             <li>Coordinación de servicio funerario hasta su funeral</li>
           </ul>
         </div>
   
         <!-- Tercer bloque -->
         <div>
           <h3 class="font-bold">Servicios Generales</h3>
           <ul class="list-disc pl-5">
             <li>Retiro y traslado de carroza panorámica al lugar del velatorio</li>
             <li>Carroza panorámica para funeral</li>
           </ul>
         </div>
   
         <!-- Cuarto bloque -->
         <div>
           <h3 class="font-bold">Servicios Adicionales</h3>
           <ul class="list-disc pl-5">
             <li>25 tarjetas de condolencias</li>
             <li>Libro de condolencias</li>
             <li>Cinta Elegance</li>
           </ul>
         </div>
       </div>
     </div>
   </section>
   
   