---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Carrousel from '../components/Carrousel.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Welcome to Astro." >
	<main>
		pagina de inicio
		<!-- <Carrousel /> -->
		 
	</main>
	
</Layout>
