---
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.astro";
import Formulario from "../components/Formulario.astro";
---

<Layout title="Contacto Funeraria Aurora | Funerarias en Santiago 24/7">
	<main>
		<Map />
		<Formulario />
	</main>
</Layout>

<head>
	<title>Funeraria Aurora - Servicios Funerarios de Calidad</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta
		name="description"
		content="Funeraria en santiago de chile, funeraria 24/7, servicios funerarios todo incluido, planes intermedios y económicos, ánforas y relicarios, convenios y cremaciones para tus seres queridos."
	/>
	<meta name="author" content="Servicios Funerarios" />
	<meta name="generator" content="Funerarias Santiago chile" />
	<meta
		name="keywords"
		content="contacto, funeraria, ivan martinez, hogar de cristo, parque del recuerdo, inmemoria, azocar, carrasco, maria ayuda, nueva terra, funerarias económicas, facilidades de pago, servicios funerarios, ataudes, anforas y convenios para cremacion."
	/>
	<meta name="revisit-after" content="15 days" />
	<meta name="copyright" content="funerariaivaaurora.cl" />
</head>
