---
import Layout from "../layouts/Layout.astro";
import MortuoriaAFP from "../components/MortuoriaAFP.astro";
---

<Layout title="Servicios funerarios | Plan 15 UF | Cuota mortuoria">
  <MortuoriaAFP />
</Layout>

<head>
  <title>Funeraria Aurora - Servicios Funerarios de Calidad</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="description"
    content="Funeraria en santiago económica, planes personalizados,  carrozas y van de acompañamiento, inscripción registro civil, tarjetas de condolencias."
  />
  <meta name="author" content="Servicios Funerarios" />
  <meta name="generator" content="Funerarias Santiago chile" />
  <meta
    name="keywords"
    content="funeraria, economica, santiago, chile, barata, precios, modicos, presupuesto, domicilio."
  />
  <meta name="revisit-after" content="15 days" />
  <meta name="copyright" content="funerariaaurora.cl" />
</head>
