---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import Carrousel from "../components/Carrousel.astro";
---

<Layout title="Funeraria Aurora | Servicios funerarios | Funeraria economica">
	<main>
		<Carrousel />
		<Home />
	</main>
</Layout>

<head>
	<title>Funeraria Aurora - Servicios Funerarios de Calidad</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta
		name="description"
		content="Funeraria en santiago de chile, funeraria 24/7, servicios funerarios todo incluido, planes intermedios y económicos, ánforas y relicarios, convenios y cremaciones para tus seres queridos."
	/>
	<meta name="author" content="Servicios Funerarios" />
	<meta name="generator" content="Funerarias Santiago chile" />
	<meta
		name="keywords"
		content="Funerarias en santiago chile, funerarias económicas, facilidades de pago, servicios funerarios, ataudes, salas velatorias, anforas y convenios para cremacion."
	/>
	<meta name="revisit-after" content="15 days" />
	<meta name="copyright" content="funerariaaurora.cl" />
</head>
