---
import Layout from "../layouts/Layout.astro";
import Platinum from "../components/Platinum.astro";
---

<Layout title="Servicios funerarios | Planes a medida | Funeraria economica">
  <Platinum />
</Layout>

<head>
  <title>Funeraria Aurora - Servicios Funerarios de Calidad</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="description"
    content="Servicios funerarios integrales, planes a tu medida y facilidades de Pago, años de experiencia, servicios de calidad"
  />
  <meta name="author" content="Servicios Funerarios" />
  <meta name="generator" content="Funerarias Santiago chile" />
  <meta
    name="keywords"
    content="servicios, funerarios, integrales, planes, medida, facilidades, presupuesto, vamos, domicilio"
  />
  <meta name="revisit-after" content="15 days" />
  <meta name="copyright" content="funerariaaurora.cl" />
</head>
