---
import Layout from "../layouts/Layout.astro";
import Elegance from "../components/Elegance.astro";
---

<Layout title="Servicios funerarios | Servicios premium | Funeraria 24/7">
  <Elegance />
</Layout>

<head>
  <title>Funeraria Aurora - Servicios Funerarios de Calidad</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="description"
    content="En Funeraria Aurora, comprendemos que la muerte de un ser querido es un momento difícil y doloroso. Por ello, nos hemos dedicado a brindar servicios funerarios de calidad."
  />
  <meta name="author" content="Servicios Funerarios" />
  <meta name="generator" content="Funerarias Santiago chile" />
  <meta
    name="keywords"
    content="servicios, funerarios, completos: velatorios, cremaciones, traslados, servicios, religiosos, arriendos, capillas, velación."
  />
  <meta name="revisit-after" content="15 days" />
  <meta name="copyright" content="funerariaaurora.cl" />
</head>
