<!-- Archivo footer.astro -->
<footer class="text-white py-10">
  <div class="w-full border-t border-white py-8"></div>
  <div
    class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-10 px-4 sm:px-6 lg:px-8"
  >
    <div>
      <h3 class="font-bold text-xl mb-4">Sobre nosotros</h3>
      <p>
        Servicios funerarios con raíces en un legado familiar de más de 50 años,
        comprometidos con el bienestar emocional y social.
      </p>
    </div>

    <!-- Columna Dirección -->
    <div>
      <h3 class="font-bold text-xl mb-4">Dirección</h3>
      <p>Isla Portezuelo 516, Local 3, Pudahuel.</p>
      <p class="mt-2">
        <a href="tel:6004909090" class="hover:text-green-400">+56 9 3187 3669</a
        >
      </p>
      <p class="mt-2">
        <a href="mailto:contacto@funerariaim.cl" class="hover:text-green-400"
          >contacto@funerariaaurora.cl</a
        >
      </p>

      <!-- Redes Sociales -->
      <div class="flex mt-4 space-x-4">
        <a href="#" class="hover:text-green-400">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="hover:text-green-400">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="hover:text-green-400">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="hover:text-green-400">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="#" class="hover:text-green-400">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>

    <!-- Columna Servicios Funerarios -->

    <!-- Columna Unidad de Duelo -->
    <div>
      <h3 class="font-bold text-xl mb-4">Mas informacion</h3>
      <p>
        <a href="https://www.instagram.com/funerariaaurora.cl/" target="_blank"
          >Instragram</a
        >
      </p>
      <p>
        <a
          href="https://api.whatsapp.com/message/ACWSWJULL5F4E1?autoload=1&app_absent=0"
          target="_blank">Whatsapp</a
        >
      </p>
    </div>
  </div>

  <!-- Línea separadora -->
  <div class="border-t border-gray-800 mt-10 pt-6">
    <div
      class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center"
    >
      <p class="text-sm text-gray-400">
        &copy; Funeraria Aurora, Todos los derechos reservados.
      </p>
      <!-- <a href="tel:+56931879315" class="text-red-600 font-bold text-lg bg-white p-2 rounded">
          +569 3187 9315
        </a> -->
    </div>
  </div>
</footer>
