---

---

<section class="relative h-screen">
  <!-- Imagen de fondo -->
  <img
    src="/images/foto3.webp"
    alt="Plan Platinum"
    class="absolute inset-0 w-full h-full object-cover"
  />

  <!-- Superposición de color oscuro -->
  <div class="absolute inset-0 bg-black bg-opacity-50"></div>

  <!-- Contenedor del logo -->
  <div
    class="absolute top-28 left-0 right-0 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-center"
  >
    <img src="images/LOGO1.png" alt="Funeraria Bravo" class="w-5/6 md:w-3/6" />
  </div>
  <div
    class="relative z-10 flex flex-col items-start justify-end h-full p-4 md:p-40 text-white max-w-7xl mx-auto sm:px-6 lg:px-8 pb-24"
  >
    <p class="text-lg md:text-4xl">Presentamos</p>
    <h1 class="text-3xl md:text-8xl font-bold">Cuota Mortuoria IPS</h1>
  </div>
</section>

<section class="text-white py-12 px-6 md:px-16 lg:px-32">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-center text-3xl font-bold mb-14">
      Este servicio <span class="text-teal-700">incluye</span> lo siguiente:
    </h2>
    <div class="grid grid-cols-1 gap-8 text-lg w-full max-w-screen-lg">
      <!-- Primer bloque -->
      <div>
        <ul class="list-disc pl-5 text-xl">
          <li>Urna terciado plana</li>
          <li>Base de madera</li>
          <li>Capilla electrica</li>
          <li>Cruz de madera</li>
        </ul>
      </div>

      <!-- Segundo bloque -->
      <div>
        <h3 class="font-bold text-center text-2xl mb-14">Asesoría:</h3>
        <ul class="list-disc pl-5 text-xl">
          <li>Trámite de inscripción en Registro Civil</li>
          <li>Certificacion medica de defuncion</li>
          <li>Orientación en tramites de sepultura o cremación</li>
        </ul>
      </div>

      <!-- Tercer bloque -->
      <div>
        <h3 class="font-bold text-center text-2xl mb-14">
          Servicios Generales
        </h3>
        <ul class="list-disc pl-5 text-xl">
          <li>
            Retiro y traslado de carroza panorámica al lugar del velatorio
          </li>
          <li>Carroza o van de instalacion</li>
        </ul>
      </div>

      <!-- Cuarto bloque -->
      <div>
        <h3 class="font-bold text-center text-2xl mb-14">
          Servicios Adicionales
        </h3>
        <ul class="list-disc pl-5 text-xl">
          <li>Libro de condolencias</li>
          <li>Maquillaje y naturalización</li>
        </ul>
      </div>
    </div>
  </div>
</section>
